alembic
APScheduler
asttokens
attrs
backcall
beautifulsoup4
bleach
blinker
bs4
certifi
cffi
charset-normalizer
click
colorama
cryptografy
cryptography
decorator
defusedxml
docopt
executing
fastjsonschema
Flask
flask-cors
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
greenlet
idna
ipython
itsdangerous
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
Mako
MarkupSafe
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
numpy
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
pipreqs
platformdirs
prompt_toolkit
ptyprocess
pure_eval
pycparser
Pygments
PyJWT
PyMySQL
python-dateutil
python-dotenv
pytz
pyzmq
referencing
requests
rpds-py
six
soupsieve
SQLAlchemy
stack-data
tinycss2
tornado
traitlets
typing_extensions
tzdata
tzlocal
urllib3
wcwidth
webencodings
Werkzeug
yarg
